<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style3.css"/>
<title>MAN HINH DANG KI</title>
</head>

<body>
	<div class="khung">
    	<h1>ĐĂNG KÍ TÀI KHOẢN</h1>
    	<div class="col-3">
        	<input type="text" placeholder="Họ"/>
        </div>
        <div class="col-3">
        	<input type="text" placeholder="Tên" />
        </div>
        <div style="clear:both"></div>
        <div class="row">
        	<input type="text" placeholder="Tên đăng nhập" />
        </div>
        <div class="row">
        	<input type="password" placeholder="Mật khẩu" />
        </div>
        <div class="row">
        	<input type="password" placeholder="Xác nhận mật khẩu" />
        </div>
        <div class="row">
        	<input type="date" />
        </div>
        <div class="row">
        	<input type="radio" name="gioi_tinh" />
            <label>Nam</label>
            <input type="radio"  name="gioi_tinh"/>
            <label>Nữ</label>
        </div>
        <div class="row">
        	<input type="number" placeholder="Điện thoại" />     
        </div>
        <div class="row">
        	<input type="email" placeholder="Địa chỉ Email"/>
        </div>
        <br />
        <div class="row">
        	<select>
            	<option value="">Việt Nam</option>
                <option>Singapo</option>
                <option>Thái Lan</option>
                <option>Nhật Bản</option>
                <option>Hàn Quốc</option>
            </select>
        </div>
        <div class="row">
        	<button id="btn_dang_ki">ĐĂNG KÍ</button>
        </div>
    </div>
</body>
</html>
